body{
    font-family: Inter;
    /* font-size: 32px; */
    color: hsl(240, 38%, 20%);
}
.carousel .slide.active{
    display: block;
}
.carousel .slide{
    display: none;
    margin: 0 auto;
    max-width: 250px;
    background-color: powderblue;
}
.carousel .slide .container-1{
    padding: 1.5em;
    background: url('../images/pattern-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.carousel .slide .container-1 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel .slide .container-1 .user-picture{
    max-width: 200px;
    height: auto;
}
.carousel .slide .container-1 .controls{
    width: fit-content;
    margin-top: -1em;
    padding: 4px 2px;
    border-radius: 20px;
    background-color: #ffffff;
}
.carousel .slide .container-1 .controls button{
    border: none;
    background-color: transparent;
}
.carousel .slide .image .controls button img{
    height: 1em;
}

.carousel .slide .container-2{
    background-image: url('../images/pattern-quotes.svg');
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
}
.carousel .slide .container-2 blockquote{
    font-weight: 500;
}
.carousel .slide .container-2 span{
    display: block;
    font-size: 0.8em;
}
.carousel .slide .container-2 .user-name{
    font-weight: 700;
}
.carousel .slide .container-2 .user-ocup{
    font-weight: 300;
    color: hsl(240, 18%, 77%);
}
.carousel .slide .container-2::after{
    display: block;
    box-sizing: border-box;
    content: '';
    height: 50px;
    background-image: url('../images/pattern-curve.svg');
    background-size: cover;
    background-repeat: no-repeat;
}